<div id="<%= dom_id event %>">
  <p>
    <strong>Starts at:</strong>
    <%= event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= event.summary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= event.url %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
